body {
max-width:500px;
line-height:1.5;
font-family:Serif;
margin:40px auto;
padding:0 17px;
}

img {
width:100%;
}

dt {
font-weight:bold;
}

h1 {
font-size:130%;
}

h2 {
font-size:110%;
}

h3 {
font-size:100%;
}

h4 {
font-size:100%;
}

a:link {
    color:#000066;
}

a:hover {
    text-decoration:none;
}

a:visited {
    color:#555555;
    text-decoration:none;
}

li {
padding-top:2px;
padding-bottom:2px;
}

.frontpage h2 {
margin-top:5px;
margin-bottom:0px;
}

.frontpage p {
margin-top:15px;
margin-bottom:15px;
}

.vid {
position:relative;
padding-bottom:56.25%;
padding-top:0;
height:0;
}

.vid iframe {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}

.fig {
font-style:italic;
}

.mainheader {
    font-size:110%;
    font-family:monospace;
    text-align:center;
    font-weight:normal;
}
